
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comment.score %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %>
