<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @comment.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @comment.order_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @comment.score %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
