<%= form_for(@order) do |f| %>
	<% if @order.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

			<ul>
			<% @order.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<% user = CustomerUser.find_by_id(session[:user_id]) %>
	<% hidden_field_tag :name, user.name %>
	<% hidden_field_tag :email, user.email %>
	<div class="field">
		<%= f.label :address %><br>
		<%= f.text_area :address, rows: 3, cols: 40 %>
	</div>
	<div class="field">
		<%= f.label :pay_type %><br>
		<%= f.select :pay_type, Order::PAYMENT_TYPES,
									prompt: 'Select a payment method'%>
	</div>
	<% if session[:user_type] == 'admin' %>
		<div>
			<%= f.label :status %><br>
			<%= f.select :status, Order::STATUS %>
		</div>
  <% end %>
	<div class="actions">
		<%= f.submit 'SUBMIT' %>
	</div>
<% end %>
