<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<table>
	<tr>
		<td><strong><%= t('.name') %>:</strong></td>
		<td><%= @order.name %></td>
	</tr>
	<tr>
  	<td><strong><%= t('.address') %>:</strong></td>
 		<td> <%= @order.address %></td>
	</tr>
	<tr>
		<td><strong><%= t('.email') %>:</strong></td>
		<td><%= @order.email %></td>
	</tr>
	<tr>
		<td><strong><%= t('.paytype') %>:</strong></td>
		<td> <%= @order.pay_type %></td>
	</tr>
	<tr>
		<td><strong><%= t('.status') %>:</strong></td>
		<td><%= @order.status %></td>
	</tr>
</table>

<div class="product_table">
	<div class="list_table">
		<table cellpadding="0", cellspacing="0">
			<thead>
				<th><%= t('.productid') %></th>
				<th><%= t('.productname') %></th>
				<th><%= t('.count') %></th>
				<% if @order.status == 'Accepted' %>
				<th></th>
				<% end %>
			</thead>
			<tbody>
			<% @order.line_items.each do |l| %>
			<tr>
				<td><%= l.product_id %></td>
				<td><%= Product.find(l.product_id).title %></td>
				<td><%= l.quantity %></td>
				<% if @order.status == 'Accepted' %>
					<td>
						<% fc = Comment.where("product_id = ? and order_id = ? and user_id = ?", l.product_id, @order.id, session[:user_id]).first() %>
						<% if fc %>
							<%= link_to t('.editcomment'), edit_comment_path(fc) %>
						<% else %>
							<%= link_to t('.comment'), new_comment_path(:product_id => l.product_id, :order_id =>  @order.id) %>
						<% end %> 
					</td>
				<% end %>
			</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<div>
	<h3><%= t('.total') %>:<span class="total_price"><%= number_to_currency(@order.total_price) %></span></h3>
</div>
<% if session[:user_type] == 'admin' %>
	<%= link_to t('.edit'), edit_order_path(@order) %> |
<% end %>
