<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table>
	<tr>
		<td>
			<div class="product_img">
				<%= image_tag(@product.image_url) %>
			</div>
		</td>
		<td>
			<div>
				<strong>Title:</strong>
				<%= @product.title %>
			</div>
			<div>
				<strong>Price:</strong>
				<%= @product.price %>
			</div>
			<div>
				<%= button_to 'Add To Cart', 
						line_items_path(product_id: @product),
						remote: true %>
			</div>
		</td>
	</tr>
</table>

<p>
	<strong>Description:</strong>
	<%= @product.description.html_safe %>
</p>

<% if session[:user_type] == 'admin' %>
	<%= link_to 'Edit', edit_product_path(@product) %> 
<% end %>

<% if @comment_list %>
<div class="comments_area">
<h2>Comment List</h2>
	<% @comment_list.each do |c| %>
		<div class="comment_item">
			<table width="100%">
				<tr>
					<td width="100px" class="comment_user">
						<%= CustomerUser.find(c.user_id).name %>
					</td>
					<td valign="middle">
						<table>
							<tr>
								<td align="right">
									SCORE:
								</td>
								<td>
									<div class="comment_score"><%= c.score %></div>
								</td>
							</tr>
							<tr>
								<td align="right">
									COMMENT:
								</td>
								<td>
									<div class="comment_content"><%= c.comment %></div>
								</td>
							</tr>
							<tr>
								<td align="right">
									DATE:
								</td>
								<td>
									<div class="comment_date"><%= c.date %></div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	<% end %>
</div>
<% end %>



