<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table width="100%">
	<tr>
		<td align="right">
			<div class="search_bar">
				<%= form_tag store_url, method: :get do %>
					<%= text_field_tag :search_key_words, params[:search_key_words], :value => params[:search_key_words],
					 :class => "search_input" %>
					<%= submit_tag 'Search', :class => "search_button" %>
				<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<h1></h1>
			<% @products.each do |product| %>
				<div class="entry">
					<%= link_to product do %>
						<%= image_tag(product.image_url) %>
					<% end %>
					<h3><%= link_to "#{product.title}", product %></h3>
					<p><%= sanitize(product.description) %></p>
					<div class="price_line">
						<span class="price"> 
							<%= button_to t('.add'), 
								line_items_path(product_id: product),
								remote: true %>
							<%= number_to_currency(product.price) %>|
							<%= t('.selled') %>: <%= product.selled_count %>
							<% as = Comment.where("product_id = '#{product.id}'").average(:score) %>
							<% if as %> |<%= t('.score') %>: <%= sprintf("%0.1f", as) %> <% end %>

						</span>
					</div>
				</div>
			<% end %>
		</td>
	</tr>
</table>
	
